@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.acao {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav-h1 {
    color: #f4f2f2;
    padding-left: 55px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(70, 100, 251);
    padding: 36px;

}

.tabela {
    width:100%;
    height:100%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.tabela th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.tabela td {
    border:1px solid #C0C0C0;
    padding:5px;
}


.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #fff;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  /* Botão voltar */

  .back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .back > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }


   /* Botão deletar */
   .btn-excluir {
    background-color: transparent;
    position: relative;
    border: none;
  }
  
  .btn-excluir::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .btn-excluir:hover > .icon {
    transform: scale(1.5);
  }
  
  .btn-excluir:hover > .icon path {
    fill: rgb(168, 7, 7);
  }
  
  .btn-excluir:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
  