<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cadastro</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="div-botao">
      <a href="/tabela">
        <button>
          <span>Tabela</span>
        </button>
      </a>
    </div>
    
    <section class="container">
      <header>Cadastro</header>
      <form action="/cadastro" method="POST"class="form">
        <div class="input-box">
          <label for="nome_completo">Nome Completo</label>
          <input type="text" name="nome_completo" id="nome_completo" placeholder="Nome Completo" maxlength="50" required onblur="varnome()">
        </div>

        <div class="input-box">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" maxlength="45"  placeholder="Email" required />
        </div>

        <div class="input-box">
          <label for="cpf">CPF ou CNPJ</label>
          <input type="number" id="cpf" name="cpf" placeholder="CPF ou  CNPJ" required/>
        </div>

        <div class="column">
          <div class="input-box">
            <label for="celular">Celular</label>
            <input  name="celular" id="celular"  type="number" placeholder="(00)0000-0000" required />
          </div>
          <div class="input-box">
            <label>Data</label>
            <input type="date" placeholder="Data" />
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label for="telefone">Telefone</label>
            <input type="number" id="telefone" name="telefone" placeholder="(000)0000-0000" />
          </div>
          <div class="input-box">
            <label for="whatsapp">WhatsApp</label>
            <input type="number" id="whatsapp" name="whatsapp" placeholder="(00)0000-0000" />
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label for="endereco">Endereço</label>
            <input name="endereco" id="endereco" type="text" maxlength="45" placeholder="Endereço" required/>
          </div>
          <div class="input-box">
            <label for="cep">CEP</label>
            <input name="cep" id="cep" type="number" placeholder="CEP" required/>
          </div>
        </div>
        <div class="input-box">
          <label for="observacao">Observação</label>
          <input name="observacao" id="observacao" type="text" maxlength="45" placeholder="Comentário ou observação"/>
        </div>
        <input class="button" type="submit" value="Cadastrar">
      </form>
    </section>

  
  </body>
</html>
